.button {
  display: inline-block;
  color: $basic-white;
  background-color: $basic-light-red;
  font-family: $font-medium;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
}
