.modal {
  display: none;

  &--show {
    display: block;
  }
}

.modal__wrapper {
  background-color: $basic-white;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 320px;
  transform: translateY(-50%) translateX(-50%);
  padding: 100px 16px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 720px;
    padding: 72px 60px;
    display: flex;
    justify-content: flex-end;
    background-color: $menu-grey-2;
    background-image: image-set(
      url("../img/modal-image.jpg") 1x,
      url("../img/modal-image@2x.jpg") 2x,
      url("../img/modal-image.webp") 1x,
      url("../img/modal-image@2x.webp") 2x
    );
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 267px;
  }
}

.modal .send-contacts__title {
  margin-bottom: 50px;
}

.modal .send-contacts__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .send-contacts__input {
  width: 288px;
  margin-bottom: 20px;
}

.modal .send-contacts__button {
  padding: 19px 103px;
  width: 288px;
  font-size: 10px;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    padding: 18px 37px;
    width: 174px;
    font-size: 12px;
    line-height: 15px;
  }
}
