$basic-white: #ffffff;
$basic-black: #141517;
$basic-grey: #2c2e3f;
$basic-light-grey: rgba(44, 46, 63, 0.7);
$basic-light-grey-2: rgba(44, 46, 63, 0.6);
$basic-extra-light-grey: rgba(44, 46, 63, 0.3);
$basic-light-red: #fe7865;
$menu-grey: #dadada;
$close-menu-grey: rgba(20, 21, 23, 0.2);
$menu-grey-2: #fbf8f8;
$pop-up-grey: #48494d;
$footer-gray: rgba(20, 21, 23, 0.5);
